.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 12px;
    background-color: #f9f9f9;
}

.articulos{
    margin-top:20px;
}

.title {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}
.body {
  font-size: 1em;
  color: #666;
}
