.login{
    background-color: #1e6091;
    color: whitesmoke;
}

.error-message{
    color: red;
    font-weight: bold;
}

.input-field{
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field:focus{
    border-color: #1e6091;
    outline: none;
}

.input-error{
    border-color: red;
}