.navbar{
    background-color: #333;
    overflow: hidden;
    color: whitesmoke;
}

button{
    background-color: #1e6091;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}